# Tools for Data Science

This notebook summarizes the tools for data science.

List of Popular Data Science Languages:

1. Python
2. R
3. SQL
4. Julia
5. C++

List of Commonly Used Data Science Libraries:

1. NumPy
2. Pandas
3. TensorFlow
4. Matplotlib
5. Scikit-Learn

|Data Science Tools|
|---|
|TensorFlow|
|Apache Hadoop|
|SAS|

Below are how to perform arithmetic expressions in Python

In [1]:
#this is a cell that multiplies and adds numbers
2*2+1

5

In [2]:
#this is a cell converts 300 minutes to hours
300/60

5.0

Objectives

1. List popular languages for Data Science
2. List commonly used libraries for Data Science
3. List commonly used Tools for Data Science
4. Perform basic arithmetic using Python

##Author
Jaen Toyoda